<div class="right-area w-100 d-flex flex-column">
  <%= image_tag "logo.png", class:"right-area__head w-100 h-25" %>
  <div class="right-area__body d-flex  flex-column align-items-center p-3 bg-white h-75">
    <div class="right-area__body__text-area h3 text-center p-5">
      <h1 class="mb-5">About "Animal Land"</h1>
      <span class="m-3">
        <h2 class="mb-5">History</h2>
        <p>This zoo is practiced in March 13,2021.</p>
         
      </span>
      <span class="m-3">
        <h2 class="mb-5">Purpose</h2>
        <p>It all started with Bootstrap.</p>
        <p>We must practice Bootstrap in any case.</p>
        <p>Also, we need to review git, RubyOnRails, etc.</p>
      </span>
    </div>
  </div>
</div>