<div class="right-area w-100 d-flex flex-column">
  <img src="assets/logo.png" class="right-area__head w-100 h-50"></img>
  <div class="right-area__body d-flex  flex-column align-items-center p-3 bg-white h-50">
    <div class="right-area__body__text-area h3 text-center p-5">
    <h1 class="mb-5">Welcome!!</h1>
    <p>This is the zoo that you can touch animals!</p>
    <p>Do you like cats? rats? ducks?</p>
    <p>OK! You are welcome!</p>
    <p class="mt-4">Click there in the left side bar for details</p>
    </div>
  </div>
</div>