/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

body{
  min-width: 210mm;
  height: 297mm;
  background-color: rgb(234, 238, 20);
}

.navbar-brand {
  &__logo-picture{
    height: 100px;
  }
}

.left-side-bar{
  background-color: rgb(238, 166, 11);

}

.right-area{
  &__body__areas__area{
    height: 20%;
  }
}

.right-area__body__areas__area{
  width: 45%;
}

footer{
  height: 10%;
}